.text {
    font-family: 'Montserrat', sans-serif;
}
.header-color{
    background:#202D23;
}

.slogan{
    font-family: Montserrat;
    font-size: 96px;
    font-weight: 400;
    line-height: 117px;
    letter-spacing: 0.19em;
    text-align: center;

}
.text-login{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.185em;
    color: #000000
}
.login{
    background: #FBFBFB;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    text-align: center;
}
.btn-log-reg{
    border-radius: 50px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
}
.href-reg{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.185em;

    color: rgba(0, 0, 0, 0.4);
}
.back{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #F0F0F0;
    text-align: left;
}
.bg-img{
    background-image: url(img/bg-img.svg);
    background-size: cover;

}
.slogan2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 50.478px;
    line-height: 62px;
    /* identical to box height */   
    
    letter-spacing: 0.19em;

    color: #F0F0F0;
}
.bg-green{
    background: rgba(66, 122, 81, 0.5);
}
.btn-perxod{
    background: #F0F0F0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
.btn-kons{
    background: #F0F0F0;
    border-radius: 39.0873px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10.1627px 19.5437px;
    gap: 7.82px;
    font-style: normal;
    font-weight: 400;
    font-size: 14.7619px;
    line-height: 23px;
}
.bg-krugi{
    background-image: url(img/bg-krugi.svg);
    background-size: cover;
}
.txt{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}
.box{
    background: #F3F3F3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
.txt-default{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.btn-katalog{
    background: #95C5B2;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    gap: 10px;
}
.bg-index{
    background-image: url(img/bg-index.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
}
.txt-index{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.095em;
    color: #FFFFFF;
}
.txt-index2{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.btn-index{
    background: #FFFFFF;
    border-radius: 50px;
}
.txt-area{
    height:30vh ;
}
.lol{
    background: #FBFBFB;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    height: 50px;
}
.lol-2{
    background: #FBFBFB;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    height: 500px;
}
.bg-anket{
    background: linear-gradient(243.73deg, rgba(95, 145, 44, 0.6) 5.71%, rgba(68, 179, 126, 0) 98.72%), #202D23;
    border-radius: 50px;
}
.txt-tem{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FBFBFB;
}
.img-car{
    transition: 10s;
}
.bg-admin{
    background-image: url(img/bg-admin.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.h1-admin{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.165em;
}
.btn-admin{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    background: #F0F0F0;
    border-radius: 25px;
    margin-top: 60vh;
}
.bg-input{
    background: radial-gradient(75.27% 67.87% at 90.47% 86.83%, rgba(28, 156, 103, 0.4) 0%, rgba(130, 228, 186, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(111.21% 100.27% at 7.89% 53.56%, rgba(106, 199, 49, 0.59) 0%, rgba(200, 237, 176, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #0F0F0F;

}
.bg-input2{
    background-image: url(img/bg-image-admin.svg);
    background-size: cover;
    background-repeat: no-repeat;

}
.box-input{
    background: linear-gradient(243.73deg, rgba(95, 145, 44, 0.6) 5.71%, rgba(68, 179, 126, 0) 98.72%), #202D23;
    border-radius: 50px;
}
.h1-input{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FBFBFB;
}